
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */