html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33%;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

body {
  font-size: 18px;
}

.headerImg {
  background-image: url("../images/header.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 52.08333%;
  display: block;
  background-repeat: no-repeat;
}

.logo {
  padding-top: 3%;
}

.menu {
  color: #fff;
  list-style-decoration: none;
  float: right;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  padding-top: 3%;
}

.menu li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 7%;
}

.welcome {
  color: #fff;
  font-size: 4rem;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding-top: 12%;
}

.welcome span {
  font-family: "Montserrat", sans-serif;
  font-size: 9rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 8rem;
  margin-top: 2%;
  display: block;
}

@media (max-width: 1660px) {
  .welcome {
    padding-top: 10%;
  }
}

@media (max-width: 1580px) {
  .welcome {
    padding-top: 8%;
  }
}

@media (max-width: 1480px) {
  .welcome {
    padding-top: 5%;
  }
}

@media (max-width: 1380px) {
  .welcome {
    padding-top: 3%;
  }
}

@media (max-width: 1280px) {
  .welcome span {
    font-size: 8rem;
    margin-top: 0;
  }
}

@media (max-width: 1080px) {
  .welcome span {
    font-size: 7rem;
    line-height: 7rem;
  }
}

@media (max-width: 980px) {
  .welcome {
    font-size: 3rem;
  }
  .welcome span {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@media (max-width: 780px) {
  .welcome {
    font-size: 2.5rem;
  }
  .welcome span {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media (max-width: 650px) {
  .welcome {
    font-size: 2rem;
  }
  .welcome span {
    font-size: 4rem;
    line-height: 3rem;
  }
}

.border {
  margin: 5% auto 4% auto;
  display: block;
}

@media (max-width: 1280px) {
  .border {
    margin: 3% auto 2% auto;
  }
}

.button {
  text-transform: uppercase;
  text-align: center;
  border: 4px solid #fff;
  color: #fff;
  width: 158px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border2 {
  display: block;
  margin: 0 auto;
}

.about {
  padding-top: 1%;
  padding-bottom: 10%;
}

.aboutP {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 70%;
  color: #999999;
  margin: 3% auto 7% auto;
}

.computer {
  background-image: url("../images/computer.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  position: relative;
}

.computer:hover {
  margin-top: -2%;
  left: -2%;
}

.computer:hover:before {
  background-image: url("../images/hover_1.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
}

@media (max-width: 800px) {
  .border {
    padding-bottom: 5%;
  }
}

.bgTurq1 {
  background-image: url("../images/turquoiseBg.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-top: -64%;
  position: relative;
  z-index: -1;
  display: none;
}

.headphones {
  background-image: url("../images/headphones.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  position: relative;
}

.headphones:hover {
  margin-top: -2%;
  left: -2%;
}

.headphones:hover:before {
  background-image: url("../images/hover_1.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
}

.bgTurq2 {
  background-image: url("../images/turquoiseBg.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-top: -64%;
  position: relative;
  z-index: -1;
  display: none;
}

.desk {
  background-image: url("../images/desk.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  position: relative;
}

.desk:hover {
  margin-top: -2%;
  left: -2%;
}

.desk:hover:before {
  background-image: url("../images/hover_1.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
}

.bgTurq3 {
  background-image: url("../images/turquoiseBg.jpg");
  width: 93%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.41026%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-top: -64%;
  position: relative;
  z-index: -1;
  display: none;
}

.turquoise {
  background-color: #95e1d4;
}

@media (max-width: 800px) {
  #about .col-4 {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.numbers {
  color: #fff;
  list-style-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 100%;
}

.numbers li {
  display: inline-block;
  padding: 7% 0;
  border-right: 1px solid #fff;
  letter-spacing: 1px;
  width: 19.6%;
  box-sizing: border-box;
}

.numbers li span {
  font-size: 4rem;
  font-weight: bold;
}

.numbers:first-child {
  border-left: 1px solid #fff;
}

@media (max-width: 800px) {
  .numbers li span {
    font-size: 3rem;
  }
}

@media (max-width: 707px) {
  .numbers li {
    padding: 5% 0;
  }
}

.servicesTotal {
  padding-bottom: 5%;
  padding-top: 1%;
}

.subServices {
  padding: 10% 0;
}

.subServices img {
  float: left;
  margin-right: 5%;
  margin-bottom: 25%;
  margin-left: 5%;
  padding-top: 1%;
}

.subServices .title {
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  font-size: 0.9rem;
  width: 80%;
  line-height: 1.2rem;
}

.subServices .title span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 2%;
}

.upper {
  padding-top: 1%;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 766px) {
  .upper {
    border-bottom: none;
    width: 100%;
  }
  .upper .col-4 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .upper .col-4 .subServices {
    width: 100%;
    padding: 5% 0;
  }
  .upper .col-4 .subServices img {
    margin-bottom: 10%;
  }
  .upper .col-4 .subServices .title {
    width: 100%;
  }
  .lower {
    width: 100%;
  }
  .lower .col-4 {
    float: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .lower .col-4 .subServices {
    width: 100%;
    padding: 5% 0;
  }
  .lower .col-4 .subServices img {
    margin-bottom: 10%;
  }
  .lower .col-4 .subServices .title {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .upper .col-4 .subServices img {
    margin-bottom: 15%;
  }
  .lower .col-4 .subServices img {
    margin-bottom: 15%;
  }
}

.grayBackground {
  background-image: url("../images/gray_backgound2.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 44.27083%;
  display: block;
  background-repeat: no-repeat;
}

.phoneWhite {
  background-image: url("../images/phone.png");
  width: 20%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 173.72263%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 33%;
  margin-left: 56%;
  margin-top: 15%;
}

.sectionTitle {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 1.4rem;
  padding: 6% 0 2% 0;
  color: #333333;
}

.sectionTitle span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-top: 0.8%;
  display: block;
}

.photoLeft {
  background-image: url("../images/photo.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.72269%;
  display: block;
  background-repeat: no-repeat;
}

.accordion h1 {
  border: 1px solid #e5e5e5;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 1rem;
  padding: 3%;
  cursor: pointer;
}

.accordion h1 .textH1 {
  margin-left: 8%;
  margin-top: -5%;
}

.accordion h1 .icon {
  margin-left: 5%;
  display: block;
}

.accordion h1 .arrow {
  float: right;
  margin-top: -3%;
}

.accordion h1 .arrowSecond {
  float: right;
  margin-top: -3%;
  display: none;
}

.accordion p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  line-height: 1.3rem;
  font-size: 1rem;
  padding: 2%;
  margin: 0;
  overflow: auto;
  border: 1px solid #e5e5e5;
  height: 160px;
}

@media (max-width: 1200px) {
  .twoPart .col-6 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  .twoPart .col-6 .photoLeft {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .twoPart .col-6 {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .twoPart .col-6 {
    width: 65%;
  }
}

@media (max-width: 830px) {
  .twoPart .col-6 {
    width: 70%;
  }
}

@media (max-width: 770px) {
  .twoPart .col-6 {
    width: 80%;
  }
}

@media (max-width: 630px) {
  .twoPart .col-6 {
    width: 90%;
  }
  .accordion h1 .textH1 {
    margin-top: -6%;
  }
  .accordion h1 .arrow {
    margin-top: -4%;
  }
  .accordion h1 .arrowSecond {
    margin-top: -4%;
  }
}

@media (max-width: 500px) {
  .accordion h1 .textH1 {
    margin-left: 12%;
    margin-top: -7%;
  }
  .accordion h1 .arrow {
    margin-top: -5%;
  }
  .accordion h1 .arrowSecond {
    margin-top: -5%;
  }
}

@media (max-width: 420px) {
  .accordion h1 .textH1 {
    margin-left: 15%;
    margin-top: -8%;
  }
  .accordion h1 .arrow {
    margin-top: -6%;
  }
  .accordion h1 .arrowSecond {
    margin-top: -6%;
  }
}

@media (max-width: 370px) {
  .accordion h1 .textH1 {
    margin-left: 17%;
    margin-top: -10%;
  }
  .accordion h1 .arrow {
    margin-top: -7%;
  }
  .accordion h1 .arrowSecond {
    margin-top: -7%;
  }
}

.gray {
  background-color: #f8f8f8;
  padding: 2% 0;
}

.arrowLeft {
  float: left;
  margin-top: 70%;
  margin-left: 30%;
}

.arrowRight {
  float: right;
  margin-top: 70%;
  margin-right: 30%;
}

.pictureSlider {
  margin: 5% 0 5% 5%;
  float: left;
}

.textSlider {
  margin-left: 5%;
  float: left;
  width: 90%;
}

.sliderP {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  line-height: 2rem;
  font-size: 1.4rem;
}

.border3 {
  float: left;
  margin-top: 2%;
}

.personSlider {
  float: left;
  font-family: "Kaushan Script", cursive;
  margin-left: 2%;
  font-size: 1.2rem;
}

.firstTeamPerson {
  background-image: url("../images/person_1.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 2%;
  position: relative;
}

.firstTeamPerson:hover {
  margin-top: -2%;
  left: -2%;
}

.firstTeamPerson:hover:before {
  background-image: url("../images/hover_2.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
}

.hoverPhoto {
  background-image: url("../images/hover_2.png");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
  display: none;
  margin-top: -124.5%;
  margin-left: 1%;
  position: relative;
  z-index: 100;
}

.hoverPhoto .linksOnHover {
  position: absolute;
  top: 40%;
  left: 35%;
  list-style-decoration: none;
  z-index: 101;
}

.hoverPhoto .linksOnHover li {
  display: inline-block;
  border-right: 1px solid #fabd87;
  background-color: #fce389;
}

.hoverPhoto .linksOnHover li:hover {
  background-color: #f38181;
}

.yellowRectangle {
  background-image: url("../images/yellow-rectangle.png");
  width: 55%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 25%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 15%;
  margin-left: 20%;
  margin-top: -74%;
  margin-bottom: 40%;
  position: relative;
  z-index: 100;
}

.yellowRectangle .col-3 {
  border-right: 1px solid #fabd87;
  box-sizing: border-box;
  z-index: 101;
}

.yellowRectangle .col-3:hover {
  background-color: #f38181;
}

.yellowRectangle .facebook {
  margin: auto;
  display: block;
  padding-top: 25%;
  padding-bottom: 27%;
  background-color: #fce389;
}

.yellowRectangle .facebook:hover {
  background-color: #f38181;
}

.yellowRectangle .twitter {
  margin: auto;
  display: block;
  padding-top: 33%;
  padding-bottom: 27%;
  background-color: #fce389;
}

.yellowRectangle .pinterest {
  margin: auto;
  display: block;
  padding-top: 27%;
  padding-bottom: 27%;
  background-color: #fce389;
}

.yellowRectangle .instagram2 {
  margin: auto;
  display: block;
  padding-top: 25%;
  padding-bottom: 27%;
  background-color: #fce389;
}

.bgTurqBig1 {
  background-image: url("../images/turquoiseBg2.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 2%;
  margin-top: -75%;
  position: relative;
  z-index: -1;
  display: none;
}

.secondTeamPerson {
  background-image: url("../images/person_2.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 3.5%;
}

.secondTeamPerson:hover {
  margin-top: -2%;
  margin-left: 1%;
}

.hoverPhoto {
  background-image: url("../images/hover_2.png");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
  display: none;
  margin-top: -124.5%;
  margin-left: 1%;
  position: relative;
  z-index: 100;
}

.hoverPhoto .linksOnHover {
  position: absolute;
  top: 40%;
  left: 35%;
  list-style-decoration: none;
  z-index: 101;
}

.hoverPhoto .linksOnHover li {
  display: inline-block;
  border-right: 1px solid #fabd87;
  background-color: #fce389;
}

.hoverPhoto .linksOnHover li:hover {
  background-color: #f38181;
}

.bgTurqBig2 {
  background-image: url("../images/turquoiseBg2.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 3.3%;
  margin-top: -122%;
  position: relative;
  z-index: -1;
  display: none;
}

.thirdTeamPerson {
  background-image: url("../images/person_3.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
}

.thirdTeamPerson:hover {
  margin-top: -2%;
  margin-left: 3%;
}

.thirdTeamPerson:hover:before {
  background-image: url("../images/hover_2.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  content: "";
  zoom: 1;
  opacity: 0.9;
}

.bgTurqBig3 {
  background-image: url("../images/turquoiseBg2.jpg");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 124.39678%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-top: -122%;
  position: relative;
  z-index: -1;
  display: none;
}

.personName {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
}

.personName span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #bdbdbd;
}

.servicesTotal2 {
  margin-bottom: 10%;
}

.logos {
  background-image: url("../images/logos_banner.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 10.77184%;
  display: block;
  background-repeat: no-repeat;
  margin: 2% 0;
}

.detail_1 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_02.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.detail_2 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_03.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.detail_3 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_06.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.detail_4 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_07.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.detail_5 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_04.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 162.5%;
  display: block;
  background-repeat: no-repeat;
}

.detail_6 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_05.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.detail_7 {
  background-image: url("../images/images/MoGo_FREE_Template_by_Laaqiq_08.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 81.25%;
  display: block;
  background-repeat: no-repeat;
}

.pictureSlid {
  margin-right: 5%;
  float: left;
  border-radius: 50%;
}

.slider3 {
  padding: 6% 0 9% 0;
}

.whatPeopleSay {
  background-image: url("../images/grayMountain.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 43.22917%;
  display: block;
  background-repeat: no-repeat;
}

.photoPerson {
  border-radius: 50%;
  width: 95%;
}

.personText {
  margin-left: 5%;
}

.personName2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.personName2 span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  padding: 2% 0;
  display: block;
}

.peopleP {
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  font-size: 1rem;
  width: 80%;
  line-height: 1.5rem;
  padding-top: 3%;
}

.topPeople {
  padding-top: 5%;
}

.bottomPeople {
  padding-top: 5%;
}

@media (max-width: 1600px) {
  .topPeople {
    padding-top: 4%;
  }
  .bottomPeople {
    padding-top: 4%;
  }
  .clientsOpinions {
    padding-top: 3%;
  }
}

@media (max-width: 1350px) {
  .topPeople {
    padding-top: 2%;
  }
  .topPeople .peopleP {
    width: 95%;
  }
  .bottomPeople {
    padding-top: 2%;
  }
  .bottomPeople .peopleP {
    width: 95%;
  }
  .clientsOpinions {
    padding-top: 3%;
  }
}

@media (max-width: 1150px) {
  .topPeople {
    padding-top: 0%;
  }
  .bottomPeople {
    padding-top: 0%;
  }
  .clientsOpinions {
    padding-top: 1%;
  }
}

@media (max-width: 1000px) {
  .topPeople .opinionBorder {
    margin-top: 0.5%;
  }
  .topPeople .peopleP {
    margin-top: 1%;
  }
  .bottomPeople .opinionBorder {
    margin-top: 0.5%;
  }
  .bottomPeople .peopleP {
    margin-top: 1%;
  }
}

@media (max-width: 920px) {
  .topPeople {
    padding-top: 6%;
  }
  .topPeople .peopleP {
    line-height: 1.2rem;
    width: 100%;
  }
  .bottomPeople {
    display: none;
  }
}

@media (max-width: 690px) {
  .topPeople {
    padding-top: 3%;
  }
}

@media (max-width: 610px) {
  .topPeople {
    padding-top: 5%;
  }
  .topPeople .personName2 {
    cursor: pointer;
  }
  .topPeople .peopleP {
    display: none;
  }
}

@media (max-width: 350px) {
  .topPeople {
    padding-top: 4%;
  }
  .topPeople .personName2 {
    font-size: 0.8rem;
  }
}

.blog2 {
  padding: 5% 0 8% 0;
}

.blogFirst {
  background-image: url("../images/blog_1.jpg");
  width: 90%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.06684%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  padding-bottom: 50%;
}

.blogSecond {
  background-image: url("../images/blog_2.jpg");
  width: 90%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.06684%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  padding-bottom: 50%;
}

.blogThird {
  background-image: url("../images/blog_3.jpg");
  width: 90%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.06684%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 5%;
  padding-bottom: 50%;
}

.bgDateFirst {
  background-image: url("../images/dateBg.jpg");
  width: 15%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 116.66667%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-top: -20%;
  margin-left: 1%;
}

.bgDateSecond {
  background-image: url("../images/dateBg.jpg");
  width: 15%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 116.66667%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-top: -20%;
  margin-left: 1%;
}

.bgDateThird {
  background-image: url("../images/dateBg.jpg");
  width: 15%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 116.66667%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  margin-top: -20%;
  margin-left: 1%;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 0.9rem;
  padding-top: 28%;
}

.date span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

.textBlog {
  font-family: "Roboto", sans-serif;
  color: #999999;
  margin-left: 5%;
  font-size: 0.9rem;
  line-height: 1.2rem;
  width: 90%;
  margin-top: 3%;
  padding-bottom: 4%;
  border-bottom: 1px solid #e5e5e5;
}

.textBlog span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #484848;
  font-size: 0.9rem;
  line-height: 2.2rem;
}

.view {
  float: left;
  padding-top: 4.5%;
  margin-left: 5%;
}

.viewNumber {
  float: left;
  padding-top: 4%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 1%;
  color: #cacaca;
}

.comment {
  float: left;
  padding-top: 4.5%;
  margin-left: 5%;
}

.commentNumber {
  float: left;
  padding-top: 4%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 1%;
  color: #cacaca;
}

@media (max-width: 958px) {
  .blog2 .col-4 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-bottom: 10%;
  }
}

@media (max-width: 800px) {
  .blog2 .col-4 {
    width: 55%;
  }
}

@media (max-width: 600px) {
  .blog2 .col-4 {
    width: 70%;
  }
}

@media (max-width: 470px) {
  .blog2 .col-4 {
    width: 80%;
    margin-bottom: 15%;
  }
}

@media (max-width: 420px) {
  .blog2 .col-4 {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .blog2 .col-4 {
    width: 96%;
    margin-bottom: 20%;
  }
}

@media (max-width: 350px) {
  .textBlog span {
    font-size: 0.8rem;
  }
}

.horizontalBreak {
  background-image: url("../images/horizont_break.png");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 10.41667%;
  display: block;
  background-repeat: no-repeat;
}

.break {
  padding: 3% 0;
}

.location {
  margin: 0 auto;
  display: block;
}

.openMap {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #f38180;
  margin: 1% auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}

.footer {
  padding: 5% 0;
  background-color: #f8f8f8;
}

.logoGray {
  background-image: url("../images/logo_gray.png");
  width: 30%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 25.9542%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 10%;
}

.logoGrayP {
  font-family: "Roboto", sans-serif;
  color: #9a9a9a;
  width: 95%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 7%;
}

.followers {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  padding-top: 5%;
  padding-bottom: 3%;
  border-bottom: 1px solid #e5e5e5;
  width: 90%;
}

.followers span {
  font-weight: bold;
  font-size: 1.2rem;
}

.follow {
  list-style-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #a7a7a7;
  font-size: 0.95rem;
  margin: 2% 0 8% 0;
}

.follow li {
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
}

input {
  padding: 2%;
  width: 45%;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  border: 1px solid #e7e7e7;
}

::-webkit-input-placeholder {
  color: #d6d6d6;
}

::-moz-placeholder {
  color: #d6d6d6;
}

::-ms-input-placeholder {
  color: #d6d6d6;
}

:-moz-placeholder {
  color: #d6d6d6;
}

button {
  background-color: #95e1d4;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: 1px solid #95e1d4;
  padding: 2% 8%;
  margin-left: -1%;
}

.blogTitle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10%;
}

.photoBlog1 {
  background-image: url("../images/photoBlog1.png");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.38655%;
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 25%;
}

.photoBlog2 {
  background-image: url("../images/photoBlog2.png");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.38655%;
  display: block;
  background-repeat: no-repeat;
  margin-bottom: 25%;
}

.photoBlog3 {
  background-image: url("../images/photoBlog3.png");
  width: 95%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 66.38655%;
  display: block;
  background-repeat: no-repeat;
}

.textPhotoBlog {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 7%;
  line-height: 1.1rem;
  width: 80%;
  margin-left: 5%;
}

.datePhotoBlog {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  color: #bababa;
  margin-top: 2%;
  margin-left: 5%;
}

.instagram {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 13%;
}

.instPhoto1 {
  background-image: url("../images/instPhoto1.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto2 {
  background-image: url("../images/instPhoto2.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto3 {
  background-image: url("../images/instPhoto3.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto4 {
  background-image: url("../images/instPhoto4.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto5 {
  background-image: url("../images/instPhoto5.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto6 {
  background-image: url("../images/instPhoto6.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto7 {
  background-image: url("../images/instPhoto7.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto8 {
  background-image: url("../images/instPhoto8.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.instPhoto9 {
  background-image: url("../images/instPhoto9.jpg");
  width: 98%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-repeat: no-repeat;
}

.morePhotos {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 5%;
  color: #919191;
}

@media (max-width: 900px) {
  .footer .break {
    float: none;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .blogTitle {
    margin-bottom: 5%;
  }
  .instagram {
    margin-bottom: 5%;
  }
}

@media (max-width: 640px) {
  .footer .break {
    width: 70%;
  }
}

@media (max-width: 510px) {
  .footer .break {
    width: 80%;
  }
}

@media (max-width: 370px) {
  .footer .break {
    width: 90%;
  }
}
