
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Kaushan Script', cursive;

$Mont: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Kaushan: 'Kaushan Script', cursive;